<!doctype html>
<title>Korfbaluitslagen</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
  <h1>Korfbal uitslagen</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='tablefilter/tablefilter.js') }}"></script>
<script>
var tf = new TableFilter(document.querySelector('.dataframe'), {
    base_path: "{{ url_for('static', filename='tablefilter/') }}",
    responsive: true,
    filters_row_index: 1,
    enter_key: true,
    col_0: 'none',
    col_1: 'select',
    col_2: 'select',
    col_3: 'multiple',
    col_4: 'multiple',
    col_5: 'none',
    col_6: 'none',
    col_7: 'select',
    col_8: 'select',
    col_9: 'select'
});
tf.init();
</script>